.footer{
    background-color: rgb(1, 1, 26);
    padding-top: 2rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    

}
.head-contact{
   
    color: aliceblue;
    letter-spacing: 2px;
    transform: translateX(6rem);
}
.head-about{
    color: rgb(253, 253, 253);
    letter-spacing: 2px;
    justify-content: start;
    transform: translateX(0rem);
    
    

}
.about{
    transform: translateX(-0rem);
} 
/* .underline{
    height: 4px;
    width: 8rem;
    background-color: rgb(244, 244, 245);
    border-radius: 10px;
    transform: translateX(0rem);
}
.underline1{
    height: 4px;
    width: 8rem;
    background-color: rgb(244, 244, 245);
    border-radius: 10px;
    transform: translateX(4rem);
} */
.btn-first{
    color: white;
    /* background-color: rgb(5, 4, 63); */
    border: none;
    font-size: 2rem;
}
.btn-first:hover{
    color: rgb(242, 234, 14);
    font-size: 2.5rem;
}
.contact-detail{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
}
.footer__text{
    padding: 12px;
}
.bold{
    font-weight: bold;
}
.transform{
    transform: translateX(6rem);
}
.contact-detail{

}
.contact-detail{
    margin-left: 4rem;

}
