.{
    margin-left: 45rem;
    color: brown;
} 
.nn{
    margin-left: 25rem  ;
}
.flex{
    color: black;
    background-color:white;
    width: 120px;
    height: 40px;

}
.links{
    text-decoration: none;
    
    
}
